<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!--出具日期-->
    <add key="IssuanceDate" value="" />
    <!--项目类型-->
    <add key="ProjectProperty" value="住宅" />
    <!--估价目的-->
    <add key="PurposeOfValuation" value="抵押" />
    <!--评估方法-->
    <add key="MethodOfValuation" value="比较法" />
    <!--土地面积-->
    <add key="LandArea" value="" />
    <!--审核人员-->
    <add key="Auditors" value="徐砚" />
    <!--评估人员-->
    <add key="Evaluator" value="张素萍" />
    <!--估价师-->
    <add key="Valuer" value="" />
    <!--项目承接人-->
    <add key="ProjectUndertaker" value="" />
    <!--项目来源-->
    <add key="ProjectSource" value="" />
  </appSettings>
</configuration>